<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "css/homeScreenStyle.css"/>
        <title>
            Disc Restock Bot
        </title>
    </head>
    <body>
        <h1>
            Disc Restock Bot
        </h1>
        <p id = "Top">
            A website designed for disc golfers looking to track the availability of almost any disc on the market. 
        </p>
        <p id = "Tut">
            How it works:
        </p>
        <ol id = "List">
            <li> Type the name of the disc model and brand in the search bar. Keep in mind that the website is not complete, so some brands or models may not appear. </li>
            <li> Click the corresponding model that appears. </li>
            <li> Wait for the application to search for stock on select disc vendors. </li>
            <li> Follow the instructions that appear on screen. The application will either tell you the websites that have the disc in stock, or it will tell you that no stock was found. From here,
                the application will guide you through placing a tracker.
            </li>
        </ol>
        <form
    </body>
</html>